users
.panel
  .panel-body.devise
    %button.btn.btn-lg.btn-block.btn-info
      Log in with Twitter
    %p{ style: "margin: 15px 0; text-align:center" } or
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.email_field :email, class: "form-control", placeholder: "Email"
      .form-group
        = f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"
      .actions
        = f.submit "Log in", class: "btn btn-primary btn-block btn-lg"
    = link_to "Forgot password?", new_user_password_path
    %p{ style: "margin:0" }
      Do not have an account?
      = link_to "Register", register_path
